<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baloon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,192},{38,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{38,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baloon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{38,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baloon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,120},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baloon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{38,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bexpl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,192},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bexpl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,128},{62,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bexpl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{62,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bexpl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{62,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,16}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>duck_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,62},{56,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>duck_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,100},{56,42}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>duck_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,178},{56,42}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>duck_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,42},{56,42}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b021718ded31293cc0977e75f919a86a$</string>
            <key>textureFileName</key>
            <string>objects.png</string>
        </dict>
    </dict>
</plist>
