<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duck_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>duck_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{56,42}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>duck_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,46},{56,42}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>duck_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,42}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>duck_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,147},{-203,-203}}</string>
                <key>offset</key>
                <string>{-101,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-203,-203}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
            <key>duck_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{7012453,7012499},{-14024903,-14024903}}</string>
                <key>offset</key>
                <string>{-7.01245e+06,7.01245e+06}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-14024903,-14024903}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aa3074748b0ef929d6c19da213a6f0c$</string>
            <key>textureFileName</key>
            <string>objects.png</string>
        </dict>
    </dict>
</plist>
